/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4001)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [Books]    Script Date: 10/3/2017 10:00:05 PM ******/
CREATE DATABASE [Books]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Books', FILENAME = N'C:\Users\james\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\Books.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Books_log', FILENAME = N'C:\Users\james\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\Books.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Books].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Books]
GO
USE [Books]
GO
/****** Object:  Schema [ProCSharp]    Script Date: 10/3/2017 10:00:05 PM ******/
CREATE SCHEMA [ProCSharp]
GO
/****** Object:  Table [ProCSharp].[Books]    Script Date: 10/3/2017 10:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ProCSharp].[Books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Publisher] [nvarchar](50) NULL,
	[Isbn] [nvarchar](20) NOT NULL,
	[ReleaseDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [ProCSharp].[Books] ON 

INSERT [ProCSharp].[Books] ([Id], [Title], [Publisher], [Isbn], [ReleaseDate]) VALUES (1, N'Professional C# 6 and .NET Core 1.0', N'Wrox Press', N'978-1-119-09660-3', CAST(N'2016-04-11' AS Date))
INSERT [ProCSharp].[Books] ([Id], [Title], [Publisher], [Isbn], [ReleaseDate]) VALUES (2, N'Professional C# 5.0 and .NET 4.5.1', N'Wrox Press', N'978-1-118-83303-2', CAST(N'2014-02-09' AS Date))
INSERT [ProCSharp].[Books] ([Id], [Title], [Publisher], [Isbn], [ReleaseDate]) VALUES (3, N'Enterprisee Services with the .NET Framework', N'Addison Wesley', N'978-0321246738', CAST(N'2005-06-03' AS Date))
SET IDENTITY_INSERT [ProCSharp].[Books] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Books_Isbn]    Script Date: 10/3/2017 10:00:05 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Books_Isbn] ON [ProCSharp].[Books]
(
	[Isbn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [ProCSharp].[GetBooksByPublisher]    Script Date: 10/3/2017 10:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [ProCSharp].[GetBooksByPublisher]
	@publisher nvarchar(50)
AS
	SELECT [Id], [Title], [Publisher], [ReleaseDate] FROM [ProCSharp].[Books] WHERE [Publisher] = @publisher ORDER BY [ReleaseDate]
GO
USE [master]
GO
